---
import LinkedIn from './icons/LinkedIn.astro'
import Github from './icons/Github.astro'
import Mail from './icons/Mail.astro'


const SOCIAL = [
    {
        name: "LinkedIn",
        link: "https://www.linkedin.com/in/johan-boshell-longas-076593283/",
        icon: LinkedIn,
        class: "text-[#0a66c2] bg-white hover:bg-[#dce0e6]"
    },
    {
        name: "Github",
        link: "https://github.com/BoshellJohan",
        icon: Github,
        class: "text-white bg-[#000] hover:bg-[#141414]"
    },
    {
        name: "CV",
        link: "/public/cv.pdf",
        icon: null,
        class: "text-[#0a66c2] bg-[#fff] hover:bg-[#dce0e6]"
    },

    {
        name: "johan.boshell@utp.edu.co",
        link: "",
        icon: Mail,
        class: "text-white bg-[#000] hover:bg-[#141414]"
    }
]

---

<article class="mx-auto flex flex-col items-center gap-8 bg-[#240046] text-white rounded-lg px-8 py-10 mb-16 shadow-lg">
    <!-- Imagen de perfil -->
    <div class="flex flex-col md:flex-row items-center gap-8">
        <img
          src="/img/profile.jpg"
          alt="Photo of Johan"
          class="w-40 h-40 rounded-full object-cover border-4 border-white shadow-md"
        />
        <!-- Profile text -->
        <div class="text-left">
          <h1 class="text-2xl font-semibold mb-4">Web Developer from Pereira, Colombia</h1>
          <p class="text-base leading-relaxed max-w-xl">
            I'm passionate about web development, focused on creating engaging and functional experiences using modern technologies like <span class="text-[#61DAFB]">React</span>, <span class="text-[#F7DF1E]">JavaScript</span>, <span class="text-[#e53ba1]">Astro</span>, <span class="text-[#38BDF8]">Tailwind</span> and more.
            I love learning, solving problems, and building products that make a difference.
          </p>
        </div>
      </div>


    <!-- Tecnologías -->
    <ul class="flex flex-wrap gap-2 self-start">
        {SOCIAL.map((tag) => (
            <li>
                <span class={`px-3.5 py-2 rounded-lg items-center flex gap-x-2 text-s font-bold cursor-pointer ${tag.class}`}>
                    {tag.icon && <tag.icon class="size-4"/>}

                    {tag.name != "CV" && <a href={tag.link} target="_blank">{tag.name}</a>}
                    {tag.name == "CV" && <a href={tag.link} target="_blank" download="CV-JohanBoshell">{tag.name}</a>}
                </span>
            </li>
        ))}
    </ul>
</article>
